@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin:0;
    
    display: flex;
    flex-direction: column;
}

header{
    background-color:#1F2937 ;

    height: 100vh;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 60px;
}

a{
    text-decoration: none;
    font-family: Roboto,serif;
    color: #E5E7EB;
}

ul{
    display: flex;
    list-style: none;

    margin: 0;
    padding: 0;

    gap: 30px;
}

.header__logo{
    font-family: Roboto,serif;
    font-weight: 900;
    font-size: 24px;
    color: #FAF9F8;
}

.header__block{
    max-width: 1200px;
    margin: 0 auto;
}

.header__content{
    display: flex;
    margin: 80px auto;
    align-items: center;
    gap: 50px;
}

.header__text{
    flex: 1;
    display: flex;
    flex-direction: column;
    
    gap: 20px;
}

.header__main-text{
    font-size: 48px;
    font-family: Roboto,serif;
    color:#F9FAF8;
    font-weight: 900;
}

.header__sub-text{
    color: #E5E7EB;
    font-family: Roboto,serif;
}

.header__image{
    flex: 1;
}

.header__image img{
    width: 100%;
    height: auto;
}

.header__btn button{
    color: #FAF9F8;
    background-color: #3882F9;
    font-weight: 900;
    padding: 10px 30px;

    border-radius: 10px;
}

.page2{
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.page2__title{
    font-family: Roboto,serif;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    
    margin: 60px;
}


.page2__images{
    display: flex;    
    gap: 50px;
}

.page2__images img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;

    border-radius: 20px;
    
}

.page2__image-text{
    font-family: Roboto,serif;
    text-align: center;
    color: #1F2937;
}